fastapi==0.134.0
uvicorn[standard]==0.41.0

SQLAlchemy==2.0.47
psycopg2-binary==2.9.11

redis==7.2.1

clickhouse-connect==0.15.1

python-dotenv==1.2.1

pydantic==2.12.5

passlib[bcrypt]==1.7.4
python-jose==3.5.0
python-slugify==8.0.4
slowapi==0.1.9
httpx==0.28.1
geoip2==5.2.0
maxminddb==3.1.0

apscheduler==3.11.2

requests==2.32.5
PyYAML==6.0.3

user-agents==2.2.0
ua-parser==1.0.1